:root{
    --text-color: whitesmoke;
}

body, html{
    margin: 0 !important;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, #2d2d2d 40%, #131313);
}

#random_quote{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: table-cell;
    vertical-align: middle;
    width: 80vw;
    font-size: 21px;
    position: absolute;
    top: 180px;
    text-align: center;
    color: var(--text-color);
}

.btn-quote{
    position: absolute;
    width: 20rem;
    top: 80px;
    padding: 15px 20px;
    border: 2px solid var(--text-color);
    background: none;
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease-in-out .4s;
}
.btn-quote:hover{
    cursor: pointer;
    background: var(--text-color);
    color: #2d2d2d;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;}